
<div style="text-align:center">
    <div class="container-fluid">

<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="/home" style="font-style: italic">
    <img src="assets/globe.jpg" width="30" height="30" class="d-inline-block align-top" alt="World">
      Know about the World
  </a>
</nav>
</div>
<br/>
<br/>



<router-outlet></router-outlet>

<footer class="footer">
		<div class="container text-center">
			<p class="text-muted"> &copy;  All Rights Reserved</p>
		</div>
	</footer>